@{
    ViewBag.Title = "Página Inicial";
}

<div class="jumbotron">
    <h1>Cafe Coado Experience</h1>
    <p class="lead">Escreva algo aqui,Elidjei</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Descubra mais sobre nós &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Início</h2>
        <p>
           Escreva mais coisas interessantes aqui,Laura Jones
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Aprenda um pouco &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Um título Massa aqui</h2>
        <p>E vai destrinchando por aqui...</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Aprenda mais &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Mais aqui</h2>
        <p>E mais ainda aqui</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Mais ainda &raquo;</a></p>
    </div>
</div>